h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
body {
    width: 960px;
    margin: 0 auto;
}
#content {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#nav a:link{
    text-decoration: none;
    color: #0c0c0c;
}
#nav a:hover{
    color: #4B946A;
}
#nav, #footer{

    background-color: #efefef;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
#nav{
    height: 500px;
}
li{
    display: inline;
    padding: 5px;
}
.cd-user-modal {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
}